body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#grey {
    background: rgba(70, 72, 82, 0.7);
    width: 1000px;
    height: 300px;
    border-radius: 150px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#contact {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#social {
    position: absolute;
    margin: 0 auto;
    bottom: 30px;
    width: 100%;
}

#buttons {
    margin-left: 35.5%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #4875B4;
    color: white;
}

.fa-youtube {
    background: #FF3333;
    color: white;
}

.fa-instagram {
    background: #405de6;
    color: white;
}

.fa-github {
    background: #24292e;
    color: white;
}
